.button{
    border:0;
    background-color: var(--clr-primary-highlight);
    border-radius: 12px;
    width: 100%;
    height: 56px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;


    &:hover{
        opacity: 50%;
    }
}