* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary-highlight: hsl(277 91 56%);
  --clr-correct: hsl(151 70 50%);
  --clr-incorrect: hsl(0 82 63%);

  --clr-primary-text: hsl(215 27 32%);
  --clr-secondary-text: hsl(219 13 44%);
  --clr-secondary-text-dark: hsl(216 47 78%);

  --clr-main-bg: hsl(220 38 97%);
  --clr-dark-bg: hsl(216 25 25%);

  --clr-white: hsl(0 0 100%);
  --clr-dark-bg-2: hsl(216 27 32%);

  --clr-answer-hover-bg: hsl(278 100 95%);
  --clr-answer-hover-text: hsl(277 81 56%);

  --clr-html-bg: hsl(22 100 96%);
  --clr-css-bg: hsl(151 87 94%);
  --clr-js-bg: hsl(223 100 96%);
  --clr-accessibility-bg: hsl(277 100 95);

}

html{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
}

body{
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  background-color: var(--clr-main-bg);
}
