.main-header{
    height:72px;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: flex-end;

    img{
        width:16px;
        aspect-ratio: 1;
        margin: 0 5px;
    }
}

.toggle-wrapper{
    display: flex;
    margin-right: 24px;
}

.toggle-oval{
    background-color: var(--clr-primary-highlight);
    width: 32px;
    height: 20px;
    border-radius: 50vw;
    display:flex;
    align-items: center;
    padding: 0 3px;

    .inner-circle{
        width:12px;
        aspect-ratio: 1;
        background-color: white;
        border-radius: 50%;
    }

    .inner-cirlce{
        transform: translateX(0);
        transition: translate 0.5s;
    }

    .inner-circle-right{
        transform: translateX(12px);
        transition: translate 0.5s;

    }

}


