.main-heading{
    font-size: 40px;
    line-height: 100%;
    font-weight: 300;
    color:var(--clr-primary-text);
}

.main-heading-bold{
    font-weight: 500;
}

.start-menu-subtitle{
    font-size: 14px;
    margin-top:16px;
    color:var(--clr-secondary-text);
}

.start-menu-grid{
    display:grid;
    grid-gap: 12px;
    margin-top:40px;
}

.start-menu-card{
    border-radius: 12px;
    height: 64px;
    display:flex;
    align-items: center;
    background-color: var(--clr-white);
    padding:12px;
    cursor: pointer;
}

.start-card-image-wrapper{
    width: 40px;
    aspect-ratio: 1;
    border-radius: 6px;
    display:flex;
    justify-content: center;
    align-items: center;

    img{
        width: 28px;
        aspect-ratio: 1;
    }
}

.card-0{
    background-color: var(--clr-html-bg);
}

.card-1{
    background-color: var(--clr-css-bg);
}

.card-2{
    background-color: var(--clr-js-bg);
}

.card-3{
    background-color: var(--clr-accessibility-bg);
}

.start-card-text{
    font-size: 18px;
    font-weight: 500;
    margin-left:20px;
    color:var(--clr-primary-text);
}